.git
.gitignore
.editorconfig
.npmrc
.github
.idea
.netbeans
.mocharc.cjs

tests
src

tsconfig.json
tsconfig.lint.json
tslint.json

node_modules
npm-debug.log
.node_history
*.swo
*.swp
*.swn
*.swm
*.seed
*.log
*.out
*.pid
lib-cov
.DS_STORE
*#
*\#
.\#*
*~
.tmp
dump.rdb
