name: Mark stale issues and pull requests

on:
  schedule:
    - cron: '42 22 * * *'

permissions:
  contents: read

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
      - uses: actions/stale@v10
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: 'This issue has been automatically marked as stale due to inactivity. If you believe this issue is still relevant, please add a comment to keep it open. Otherwise, it will be closed in the next few days. Thank you for your contributions!'
          stale-pr-message: 'This pull request has been automatically marked as stale due to inactivity. If you are still working on this, please add a comment or push new commits to prevent it from being closed. If no activity is detected, it will be closed soon. Thank you for your efforts!'
          close-issue-message: 'This issue has been automatically closed due to prolonged inactivity. If you believe this was done in error or the issue is still relevant, feel free to reopen or create a new issue. Thank you!'
          close-pr-message: 'This pull request has been automatically closed due to inactivity. If you would like to continue working on this, please feel free to reopen it or create a new pull request. Thank you for your contributions!'
          exempt-all-assignees: true
          exempt-issue-labels: accepted
